.container {
  display: flex;
  /* justify-content: space-evenly; */
  margin-top: 35px;
  padding: 0 2%;

}
.SidebarStyle{
    flex: 1;
    /* border: 1px solid brown; */
}
.mainScreen{
    flex: 5;
    /* border: 1px solid grey; */
    margin-left: 3%;
}